* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	}
.about {
	position: relative;
	margin-left: 50%;
	padding: 3%;
	text-align: right;
	color: #FFFFFF;
	}
.about h2 {
	font-size: 3vw;
	text-align: left; 
	width: 100%;
	}
.about p {
	font-size: 2vw;
	text-align: left
	}
.aboutcontent {
	position: relative;
	color: White;
	z-index: 5;
	}
.aboutwall {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: Black;
	z-index: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=90);
	opacity: .11;
	}
.banner {
	width: 100%;
	position: relative; 
	background-image: url("https://zenasalves.github.io/resources/img/banners/backgroundgif2.gif");
	}
.banner h2 {
	color: #FFFFFF;
	font-size: 2vw;
	text-align: center;
	position: absolute; 
	top: 2%; 
	width: 100%;
	}
.twitter {
	position: relative;
	float: left;
	width: 50%;
	color: #2EDBFF;
	text-align: left;
	padding: 3%; 
	}
.twitter h2 {
	color: #2EDBFF;
	font-size: 3vw;
	text-align: left; 
	width: 100%;
	}
a {
	color: #FFFFFF;
	text-decoration: none;
	}
img {
	max-width: 100%;
	}	
body {
	background-image: url("https://zenasalves.github.io/resources/img/banners/backgroundgif.gif");
	}
